{% extends "navbar.html" %} {% block title %} Add Hospital Information {%
endblock title %} {% block body %}
<br />
<br />
<br />
<br />
<div class="container mt-4">
  <div class="display-4 text-center text-info">Add Hospital Data</div>
  <br />
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        {% include 'message.html' %}
        <h2 class="text-center text-success">Welcome to Covid Care Center</h2>
        <div class="card-body">
          <form action="/addhospitalinfo" method="post">
            <div class="form-group">
              <input type="text" class="form-control mt-2" name="hcode" value="" placeholder="Enter hospital code"
                required />
            </div>
            <div class="form-group">
              <input type="text" class="form-control mt-2" name="hname" placeholder="Enter hospital name" required />
            </div>
            <div class="form-group">
              <input type="number" class="form-control mt-2" name="normalbed"
                placeholder="Enter number of Normal Beds Available" required />
            </div>
            <div class="form-group">
              <input type="number" class="form-control mt-2" name="hicu"
                placeholder="Enter number of HICU Beds Available" required />
            </div>
            <div class="form-group">
              <input type="number" class="form-control mt-2" name="icu" placeholder="Enter number of ICU Beds Available"
                required />
            </div>
            <div class="form-group">
              <input type="number" class="form-control mt-2" name="ventbed" placeholder="Enter Ventilators Beds"
                required />
            </div>
            <br />
            <button class="btn btn-info" type="submit">Add</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card" style="width: 20rem">
        <img src="https://source.unsplash.com/400x400/?medical,hospital" class="img-fluid rounded-start"
          class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title bg-dark text-center text-white">
            Hospital Data
          </h5>
        </div>
        {% for post in postsdata %}
        <ul class="list-group list-group-flush bg-dark">
          <li class="list-group-item bg-dark text-white">
            Hospital Code: <b>{{post.hcode}}</b>
          </li>
          <li class="list-group-item bg-dark text-white">
            Hospital Name: <b>{{post.hname}}</b>
          </li>
          <li class="list-group-item bg-dark text-white">
            Normal Beds Available: <b>{{post.normalbed}}</b>
          </li>
          <li class="list-group-item bg-dark text-white">
            HICU Beds Available: <b>{{post.hicubed}}</b>
          </li>
          <li class="list-group-item bg-dark text-white">
            ICU Beds Available: <b>{{post.icubed}}</b>
          </li>
          <li class="list-group-item bg-dark text-white">
            Ventilator Beds Available: <b>{{post.vbed}}</b>
          </li>
          <a href="/hedit/{{post.id}}/">
            <li class="list-group-item bg-dark text-white">
              Edit Here <i class="fas fa-edit"></i>
            </li>
          </a>
          <a href="/hdelete/{{post.id}}/">
            <li class="list-group-item bg-dark text-white">
              Delete Here <i class="fas fa-trash-alt"></i>
            </li>
          </a>
        </ul>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock body%}